* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-grey-900: #141414;
	--color-grey-800: #1f1f1f;
	--color-grey-700: #333;
	--color-green: #c4f82a;
	--color-white: #fff;
	--spacing-500: 40px;
	--spacing-300: 24px;
	--spacing-200: 16px;
	--spacing-150: 12px;
	--spacing-100: 8px;
	--spacing-50: 4px;
}

body {
	font-family: Inter, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0;
	color: var(--color-white);
	display: grid;
	place-items: center;
	min-height: 100svh;
	background-color: var(--color-grey-900);
}

h2 {
	font-weight: 600;
	font-size: 1.714rem;
}

h3 {
	font-weight: 700;
	font-size: 1rem;
	color: var(--color-green);
}

p {
	font-weight: 400;
	font-size: 1rem;
}

.container_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 0 0;
	gap: var(--spacing-300);
	border-radius: 12px;
	background-color: var(--color-grey-800);
	padding: var(--spacing-500);
}

img {
	max-width: 88px;
	max-height: 88px;
	border-radius: 100%;
}
.container_namelocation {
	gap: var(--spacing-50);
}

.container_links {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
	gap: var(--spacing-200);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	padding: var(--spacing-150);
	gap: var(--spacing-200);
	background-color: var(--color-grey-700);
	border-radius: 8px;
}

.button:hover {
	background-color: var(--color-green);
	color: var(--color-grey-700);
}
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
